.header {
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(28, 28, 28, 0.745);
  color: yellow;
}
span {
  color: green;
}

h1 :hover {
  color: green;
}
span :hover {
  color: yellow;
}
